@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #96D3EF;
    overflow: hidden;
    animation: bgs 5.45s;
}

@keyframes bgs {
    0% {
        background: #FAB3D8;
    }

    17.499% {
        background: #FAB3D8;
    }
    17.5% {
        background: #FFE95F;
    }

    29.999% {
        background: #FFE95F;
    }
    30% {
        background: #96D3EF;
    }

    42.499% {
        background: #96D3EF;
    }
    42.5% {
        background: #000000;
    }

    55% {
        background: #000000;
    }
    60% {
        background: #ffffff;
    }

    100% {
    }
    
}

#playby {
    height: 100%;
    width: 100%;
    max-width: 50vw;
    position: absolute;
    left: 0%;
    animation: pbf 5.45s;
}

@keyframes pbf {
    0% {
        left: -5%;
        opacity: 0;
    }

    67.5% {
        left: -5%;
        opacity: 0;
    }

    82.5% {
        left: 0%;
        opacity: 100%;
    }

    100% {
        left: 0%;
        opacity: 100%;
    }
    
}

#content {
    display: table-cell;
    max-width: 100%;
    width: 60vh;
    height: 100%;
    position: absolute;
    left: 55%;
}

#desc {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

#name {
    position: relative;
    margin: 0% 0 -5% 0;
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain;
    object-position: 50% 50%;
    width: 80vh;
    font-size: 5vw;
    color: #FFE32C;
    animation: namef 10.9s;
}

@keyframes namef {
    0% {
        top: 25%;
        opacity: 0;
    }

    42.25% {
        top: 25%;
        opacity: 0;
    }

    47.75% {
        top: 25%;
        opacity: 100%;
    }

    52.5% {
        top: 0%;
        opacity: 100%;
}

    100% {

    }
    
}

#text {
    font-size: 2vw;
    font-family: 'Edu TAS Beginner', cursive;
    color: #FF81C2;
    animation: descf 10.9s;
    text-align: center;
}

@keyframes descf {
    0% {
        left: 100%;
        opacity: 0;
    }

    55% {
        left: 100%;
        opacity: 0;
    }

    61.25% {
        left: 50%;
        opacity: 100%;
}

    100% {

    }
    
}

#break1 {
    position: relative;
    margin: -35% 0 -15% 0;
    object-fit: contain;
    object-position: 50% 50%;
    width: 60vh;
    animation: brf 10.9s;
}

#break2 {
    position: relative;
    margin: -5% -2% -5% 0;
    object-fit: contain;
    object-position: 50% 50%;
    width: 40vh;
    animation: brf 10.9s;
}

@keyframes brf {
    0% {
        opacity: 0;
    }

    61.25% {
        opacity: 0;
    }

    67.5% {
        opacity: 100%;
}

    100% {

    }
    
}

.center {
    opacity: 0%;
    text-align: center;
}

#anitext {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
}

#jp {
    animation: jpf 5.45s;
    font-size: 5vw;
}

#jp::before {
    content: "";
    animation: jpf 5.45s;
    
}

@keyframes jpf {
    0% {
        color: #FFE95F;
        opacity: 100%;
        content: "くたばれ！";
    }

    17.499% {
        color: #FFE95F;
        content: "くたばれ！";
    }
    17.5% {
        color: #96D3EF;
        content: "ごめんなさい。";
    }

    29.999% {
        color: #96D3EF;
        content: "ごめんなさい。";
    }
    30% {
        color: #FF81C2;
        content: "置いていかないでください...";
    }

    42.499% {
        color: #FF81C2;
        content: "置いていかないでください...";
    }
    42.5% {
        color: #FFFFFF;
        content: "私はただ-";
    }

    55% {
        color: #FFFFFF;
        opacity: 100%;
        content: "私はただ-";
    }

    60% {
        color: #FFFFFF;
        opacity: 0%;
    }

    100% {
    }
}

#en {
    animation: enf 5.45s;
    content: "";
    font-size: 2.5vw;
}

#en::before {
    content: "";
    animation: enf 5.45s;
}

@keyframes enf {
    0% {
        color: #FFE95F;
        opacity: 100%;
        content: "(Fuck you!)";
    }

    17.499% {
        color: #FFE95F;
        content: "(Fuck you!)"
    }
    17.5% {
        color: #96D3EF;
        content: "(I'm sorry.)";
        
    }

    29.999% {
        color: #96D3EF;
        content: "(I'm sorry.)";
    }
    30% {
        color: #FF81C2;
        content: "(Don't leave me...)";
    }

    42.499% {
        color: #FF81C2;
        content: "(Don't leave me...)";
    }
    42.5% {
        color: #FFFFFF;
        content: "(I was only-)";
    }

    55% {
        color: #FFFFFF;
        opacity: 100%;
        content: "(I was only-)";
    }
    60% {
        color: #FFFFFF;
        opacity: 0%;
    }

    100% {
    }
}

#vert {
    vertical-align: middle;
}